@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Rubik.woff2");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Rubik600.woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Open Sans.woff2");
}

$rubik: "Rubik", sans-serif;
$os: "Open Sans", sans-serif;
$nav-color: #2c2f33;
$bg-color: #23272a;
$footer-color: #1e2124;
$white: #ffffff;
$overlay: #00000091;
$codebg-color: #3c4046;
$semisnap: cubic-bezier(0.77, 0, 0.32, 1);
$snap: cubic-bezier(0.81, 0, 0.4, 1);
$supersnap: cubic-bezier(1, 0, 0.78, 1);
$cubic: cubic-bezier(0.32, 0, 0.68, 1);

@mixin headerFooterText() {
    font-family: $rubik;
    font-size: 10px;
    font-weight: bold;
    vertical-align: middle;
    text-transform: uppercase;
    color: #a3a3a3;
}

@keyframes preloader {
    0% {
        visibility: visible;
        opacity: 1;
    }
    50% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes cogSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: $os;
    color: $white;
    -webkit-user-select: none;
}

hr {
    width: 230px;
    margin-top: 4px;
    margin-bottom: 4px;
}

input,
button {
    &:focus {
        outline-width: 0;
    }
}

body {
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

div#react-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

div#preloader {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: $footer-color;
    &[stage="exit"] {
        animation-name: preloader;
        animation-duration: 2000ms;
        animation-timing-function: $snap;
        animation-fill-mode: forwards;
    }
    z-index: 10;
    img#mb {
        width: 200px;
        height: 200px;
        margin: 20px;
        border-radius: 50%;
        filter: drop-shadow(0 0 0.75rem #000000);
    }
    img#cog {
        width: 20px;
        height: 20px;
        animation-name: cogSpin;
        animation-timing-function: $semisnap;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
    }
}

div#header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: $footer-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    -webkit-app-region: drag;
    h1 {
        @include headerFooterText();
        font-size: 12px;
    }
    div#header-buttons {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 30px;
        -webkit-app-region: no-drag;
        div#header-button-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 43px;
            height: 30px;
            overflow: hidden;
            background-color: #00000000;
            transition: background-color 250ms $snap;
            &:hover {
                background-color: $nav-color;
            }
            img {
                width: 18px;
                height: 18px;
                &#close {
                    width: 13px;
                    height: 13px;
                }
            }
        }
    }
}

section#main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100% - 60px);
    form#rich-presence-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div.param-container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 500px;
            padding-left: 10px;
            padding-right: 10px;
            box-sizing: border-box;
            div.param {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 225px;
                margin-top: 8px;
                margin-bottom: 8px;
                label {
                    font-family: $rubik;
                    font-size: 18px;
                    text-transform: uppercase;
                }
                input {
                    width: 100%;
                    height: 30px;
                    font-family: $rubik;
                    font-size: 13px;
                    background-color: #3c4046;
                    &[type="checkbox"] {
                        opacity: 0;
                        color: #3c4046;
                        width: 24px;
                        height: 24px;
                    }
                    &[type="text"],
                    &[type="number"],
                    &[type="datetime-local"],
                    &[type="url"] {
                        padding-left: 5px;
                        box-sizing: border-box;
                        outline-width: 0;
                        border-radius: 10px;
                    }
                    &[type="datetime-local"]:disabled {
                        color: #6d6d6d;
                    }
                    &::placeholder {
                        text-align: center;
                    }
                }
                span#checkbox {
                    position: absolute;
                    top: 24px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 20px;
                    height: 20px;
                    border-radius: 4px;
                    background-color: #3c4046;
                    &::after {
                        content: "";
                        display: none;
                        position: absolute;
                        left: 6px;
                        top: 2px;
                        width: 5px;
                        height: 13px;
                        border: solid $white;
                        border-width: 0 3px 3px 0;
                        transform: rotate(45deg);
                    }
                    &[ischecked="true"] {
                        &::after {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    div#rich-presence-button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 280px;
        button {
            font-family: $rubik;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
            border-radius: 10px;
            width: 120px;
            height: 34px;
            transition: background-color 250ms $snap, font-size 100ms $snap;
            &#rp-stop {
                background-color: #c76360;
                &:hover {
                    background-color: #e46f6b;
                    font-size: 18px;
                }
            }
            &#rp-start {
                background-color: #5a6fca;
                &:hover {
                    background-color: #6b81e4;
                    font-size: 18px;
                }
            }
        }
    }
    div#savestates-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        button {
            width: 100px;
            height: 24px;
            font-family: $rubik;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            border: 2px solid $white;
            border-radius: 6px;
            background-color: #00000000;
            transition: border 250ms $snap, color 250ms $snap, background-color 250ms $snap;
            &:hover {
                color: $bg-color;
                background-color: $white;
            }
            &:disabled {
                color: #a3a3a3;
                border: 2px solid #a3a3a3;
                &:hover {
                    color: #a3a3a3;
                    background-color: #00000000;
                }
            }
        }
    }
    div#error-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 30px;
        width: 100%;
        height: calc(100% - 30px);
        background-color: #00000091;
        visibility: hidden;
        opacity: 0;
        transition: visibility 500ms $snap, opacity 500ms $snap;
        z-index: 2;
        &[active="true"] {
            visibility: visible;
            opacity: 1;
        }
        div#error-modal {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 250px;
            height: 320px;
            background-color: $footer-color;
            border-radius: 12px;
            padding: 12px;
            div#red-x-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 150px;
                border: 6px solid #a3a3a3;
                border-radius: 50%;
                img#red-x {
                    width: 100px;
                    height: 100px;
                }
            }
            img#close {
                position: absolute;
                top: 12px;
                right: 12px;
                width: 13px;
                height: 13px;
            }
            div#error-messages {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                p {
                    font-family: $rubik;
                    font-size: 14px;
                }
            }
        }
    }
}

div#footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: $footer-color;
    p {
        @include headerFooterText();
    }
}

@media screen and (max-height: 701px) {
    section#main {
        div#savestates-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: auto;
            width: 280px;
        }
    }
}
